body {
  background-image: linear-gradient(to right bottom, #3b5e8e, #5780a4, #7da2b8, #a9c4ce, #dae5e7);   
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  


#password {
    
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 25px;
    width: 290px;
    height: 200px;
    padding: 40px;
    box-shadow: 5px 10px 20px #888888;
    position: absolute;
  	top:0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
  
}

.button {
    background-color: dodgerblue; 
    border: none;
    width: 100px;
    color:black;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #table1{
    margin:auto;
    position:absolute;
  }

  #inputarea{
    background-color: #f3f3f3;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
    border: 1px solid #a6a6a6;
  }